<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>The quiz</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    <nav class="blue">
        <div class="nav-wrapper">
            <div class="brand-logo center">&nbsp;&nbsp;&nbsp;The quiz</div>
        </div>
    </nav>
    <form method="post">
        <font color="#a52a2a"><h4>{{error}}</h4></font>
        <div class="input-field col s12">
            <select name="tg">
              <option value="" disabled selected>Выберете ваше направление</option>
              <option value="1">Гуманитарное</option>
              <option value="2">Техническое</option>
            </select>
            <br>
            <div class="input-field col s6">
                <input name="cmt1" id="tech" type="text" class="validate">
                <label for="tech">Какие эмоции у вас вызывает слово {{ tech }}?</label>
            </div>
            <br>
            <div class="input-field col s6">
                <input name="cmt2" id="gum" type="text" class="validate">
                <label for="gum">Какие эмоции у вас вызывает слово {{ gum }}?</label>
            </div>
            &nbsp;&nbsp;<input type="submit" class="waves-effect waves-light btn">
        </div>
    </form>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <script>
        $(document).ready(function() {
            Materialize.updateTextFields();
        });
    </script>
</body>
</html>